<!DOCTYPE html>
<html>
<style>
body {
   background-image: url('masonjars.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
</style>
<link rel="stylesheet" type="text/css" href="css/landing.css">
<head>
<style>
#rounded_button {
  border-radius: 	5px;
  border: 2px solid #999999;
  padding: 10px;
  width: 200px;
  height: 30px;
  text-align: center;
  background-color: none;
  color: #333333;
  vertical-align: middle;
}
</style>
</head>
<body>
<img src="/polar-coffee-logo-white-400px_tag.png" alt="Polar Coffee" title="Polar Coffee" width="300px" padding: 30px;>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div class="custom" >
<center> 
<p><span style="font-family: Helvetica; font-size: 4.5em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; text-transform: uppercase; font-weight: 300;">There's an easier way...</span></p> 
</center><center> 
<p><span style="font-family: Helvetica; font-size: 2.0em; text-shadow: 1px 1px #000000; color: #ffffff; line-height: 1.3; text-transform: lowercase; font-weight: 300;">No other coffee machine produces quality iced coffee instantaneously.</span></p> 
</center> 
<p>&nbsp;</p> 
<p>&nbsp;</p>
<p>&nbsp;</p> 
<p>&nbsp;</p> 
<center><a class="rounded_button" style="text-transform: no-underline;" href="http://64.225.127.211/about">Learn more.</a></center></div>
<p>&nbsp;</p> 
<center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p> 
    <p>&nbsp;</p>
      <th><h1><span style="font-family: Helvetica; font-size: 2em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; text-transform: uppercase; font-weight: 300;">Revolutionary Design</span></h1></th>
    </tr>
    <tr>
      <td><h2><span style="font-family: Helvetica; font-size: 1em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; font-weight: 300;">With our proprietary ArcticCooling technology, our machine can cool boiling hot coffee down to near freezing point at a lightning fast speed. With a touch of a button on your phone, enjoy a cup of ice cold or cozy warm coffee within minutes. Polar Coffee’s smart coffee machine makes coffee how you want it, when you want it.</span></h2></td>
    </tr>
    <tr></tr>
  </table></center>
<p>&nbsp;</p>
<center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p> 
    <p>&nbsp;</p> 
      <th><h1><span style="font-family: Helvetica; font-size: 2em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; text-transform: uppercase; font-weight: 300;">Sign up now for free stuff</span></h1></th>
    </tr>
    <tr>
      <td><h2><span style="font-family: Helvetica; font-size: 1em; text-shadow: 1px 1px #000000 !important; color: #ffffff; line-height: 150%; font-weight: 300;">You'll be notified as soon as our product is available. We will need beta testers, and we'll send you our prototype for free.</span></h2><br /><p><center><a class="rounded_button" style="text-transform: no-underline;" href="http://64.225.127.211/sign_up">Sign up.</a></center>
    </tr>
    <tr></tr>
  </table></center>
  <hr>
  <center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
      <th><img src="/polar-coffee-logo-square-300px.png" alt="Polar Coffee" title="Polar Coffee" width="200px";></th>
    </tr>
    <tr>
      <td><em>How you want it, when you want it.</em></td>
    </tr>
    <th>Polar Coffee, Ltd.<br />
      123 Main Street<br />
      Anytown, CA 92336<br />
      Tel (909) 555-5555</th>
    </tr>
  </table></center>
  <hr />
  <p><span style ="color: #ffffff;"> © Polar Coffee 2020. All rights reserved.</span></p>
  </body>
  </html>
