<!DOCTYPE html>
<html>
  <style>
    body {
       background-image: url('coffee.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
    }
    </style>
     <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="css/landing.css">
<script>
  function openSlideMenu(){
    document.getElementById('menu').style.width = '250px';
    document.getElementById('content').style.marginLeft = '250px';
  }
  function closeSlideMenu(){
    document.getElementById('menu').style.width = '0';
    document.getElementById('content').style.marginLeft = '0';
  }
</script>
  
  
<body>
<img id="Polar" src="/polar-coffee-logo-white-400px_tag.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px" padding: 30px;>
<link rel="stylesheet" type="text/css" href="css/sign_up.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
  <body>
     <div id="content">

    <span class="slide">
      <a href="#" onclick="openSlideMenu()">
        <i class="fas fa-bars"></i>
      </a>
    </span>

    <div id="menu" class="nav">
      <a href="#" class="close" onclick="closeSlideMenu()">
        <i class="fas fa-times"></i>
      </a>
      <a href="http://64.225.127.211">Home</a>
      <a href="http://64.225.127.211/about">About</a>
      <a href="http://64.225.127.211/features">Features</a>
      <a href="http://64.225.127.211/pricing">Pricing</a>
      <a href="http://64.225.127.211/sign_up">Sign Up</a>
    </div>
  </div>
   </body>  
<script>
document.getElementById("Polar").onclick = function() {
    window.location.href = "http://64.225.127.211";
};
  </script>

<script>
  function portal() {
    window.location.href ="http://64.225.127.211";
  }
</script>
  
  
<body>
  <form action="http://64.225.127.211:6001/setcoffeex" method="POST" onsubmit="return showtimer();">
    <div class="container">
      <h1 align='center'>Polar Coffee</h1 al>
      <p>Request your desired temperature.</p>
      <hr>
      <input type="radio" name="temperature" id="hot" value="Hot">
      <label for="hot">Hot</label><br>
      <input type="radio" name="temperature" id="cold" value="Cold">
      <label for="cold">Cold</label><br>
      <a input type="submit" value="Submit" class="rounded_button" style="text-transform: no-underline;">Sumbit.</a>
      </hr>
  </form>
</body>
  
  
  </table></center>
  <hr>
  <center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
      <th><img id="Bottom" src="/polar-coffee-logo-square-300px.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px";></th>
<script>
document.getElementById("Bottom").onclick = function() {
    window.location.href = "http://64.225.127.211";
};
  </script>
    </tr>
    <tr>
      <td><em>How you want it, when you want it.</em></td>
    </tr>
    <th>Polar Coffee, Ltd.<br />
      123 Main Street<br />
      Anytown, CA 92336<br />
      Tel (909) 555-5555</th>
    </tr>
  </table></center>
  <hr />
  <p><span style ="color: #000000;"> © Polar Coffee 2020. All rights reserved.</span></p>
  </body>
  </html>
