<!DOCTYPE html>
<html>
  <style>
    body {
       background-image: url('coffee.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
    }
    </style>
     <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="css/landing.css">
<script>
  function openSlideMenu(){
    document.getElementById('menu').style.width = '250px';
    document.getElementById('content').style.marginLeft = '250px';
  }
  function closeSlideMenu(){
    document.getElementById('menu').style.width = '0';
    document.getElementById('content').style.marginLeft = '0';
  }
</script>
  
  
<body>
<img id="Polar" src="/polar-coffee-logo-white-400px_tag.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px" padding: 30px;>
<link rel="stylesheet" type="text/css" href="css/sign_up.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
  <body>
     <div id="content">

    <span class="slide">
      <a href="#" onclick="openSlideMenu()">
        <i class="fas fa-bars"></i>
      </a>
    </span>

    <div id="menu" class="nav">
      <a href="#" class="close" onclick="closeSlideMenu()">
        <i class="fas fa-times"></i>
      </a>
      <a href="http://64.225.127.211">Home</a>
      <a href="http://64.225.127.211/about">About</a>
      <a href="http://64.225.127.211/features">Features</a>
      <a href="http://64.225.127.211/pricing">Pricing</a>
      <a href="http://64.225.127.211/sign_up">Sign Up</a>
    </div>
  </div>
   </body>  
  

  
  
  
  
  
  
  
  

    <link rel="stylesheet" type="text/css" href="setter.css">
<head>
<title> Design your Coffee </title>
<style>
    
    .hidden{
        display: none !important;
    }
</style>
</head>
<div id="menuoption">
    <p id = "user">When would you like your coffee, {{username}}?</p>
    <button class="menubuttons" onclick="script1()">ASAP
    <span></span><span></span><span></span><span></span></button>
    <button class="menubuttons" onclick="script2()">Schedule
    <span></span><span></span><span></span><span></span></button>
</div>


<form id="asapForm" action="/setcoffeex" method="POST">
    <div id="Temperaturex">
        <div>
            <input type = "radio" name ="temperature" id ="hot1" value="Hot">
            <label for="hot">Hot</label><br>
            <input type = "radio" name ="temperature" id ="cold1" value="Cold">
            <label for="cold">Cold</label><br>

            <input id='datehiddden' type='hidden' value='asap' name='date'>
            <input id='timehiddden' type='hidden' value='asap' name='time'>
            <input id='recurhiddden' type='hidden' value='asap' name='recur'>
        </div>
        <input type="submit" value="Submit">
    </div>
</form>


<form id="schedForm" action="/setcoffeex" method="POST">
    <div id="Temperature">
        <div>
            <input type = "radio" name ="temperature" id ="hot2" value="Hot">
            <label for="hot">Hot</label><br>
            <input type = "radio" name ="temperature" id ="cold2" value="Cold">
            <label for="cold">Cold</label><br>

        </div>
        <div id="scheduler">
            <p class="optiontitle"> Schedule a Coffee </p>
            <div id="fulldate">
                <p id="year">YYYY</p> 
                <p id="month">MM</p> 
                <p id="day">DD</p>
                <!--<input class="dt" type="time" placeholder="Date">-->
                <!--<input class="dt"  name="time" type="time" placeholder="Time">-->
                <input type="date" name="date" placeholder="Date">
                <input type="time" name="time" placeholder="Time">
                <input id='checkboxhiddden' type='hidden' value='off' name='recur'>
                <input id="check"type="checkbox" name="recur" placeholder="Recur">
                
            
            </div>
        </div>
        <input type="submit" value="Submit">
    </div>
</form>
  
  
  
</script>

  
  

<script>
    /*
    if(document.getElementById("check").checked) {
    document.getElementById('checkboxhidden').disabled = true;
}*/

//var tempinput = document.getElementById("myRange");
/*
function submit(){
    if(sv >=50){
        console.log("okkkkkkkkkkkkkkk");
        //tempinput.value="Hot"
        document.getElementById("myForm").submit();
    }
    else{
        //tempinput.value="Cold"
        document.getElementById("myForm").submit();
    }
    
}*/
var ASAP = document.getElementById("asapForm");
var sched = document.getElementById("schedForm");
var schod = document.getElementById("scheduler");
function script1(){
    
        //var ASAP = document.getElementById("myForm");
        ASAP.style.display="block";
        sched.style.display="none";
        //schod.style.display="none";

}
function script2(){
    
    //var sched = document.getElementById("myForm");
    sched.style.display="block";
    ASAP.style.display="none";

    var d = new Date();
    var year = d.getFullYear();
    var months = ["January", "February", "March", "April", "May", "June", 
           "July", "August", "September", "October", "November", "December"];
    var day = d.getDate();
    
    document.getElementById("year").innerHTML = year;
    document.getElementById("month").innerHTML = months[d.getMonth()];
    document.getElementById("day").innerHTML = day;
   /*
   var sel = document.getElementById("dayselector");
   var addoption = document.createElement('option');
    for(i=1; day<=i<32; i++){
   //var sel = document.getElementById("dayselector");
   //var addoption = document.createElement('option');
   addoption.appendChild(document.createTextNode(i));
   addoption.value = i; 
   sel.appendChild(addoption); 
}*/

}    
sched.style.display="none";
ASAP.style.display="none";
</script>

  
  
  
  
  
  
  
  
  
  
  
  
  </table></center>
  <hr>
  <center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
      <th><img id="Bottom" src="/polar-coffee-logo-square-300px.png" onClick="myFunction()" alt="Polar Coffee" title="Polar Coffee" width="200px";></th>
<script>
document.getElementById("Bottom").onclick = function() {
    window.location.href = "http://64.225.127.211";
};
  </script>
    </tr>
    <tr>
      <td><em>How you want it, when you want it.</em></td>
    </tr>
    <th>Polar Coffee, Ltd.<br />
      123 Main Street<br />
      Anytown, CA 92336<br />
      Tel (909) 555-5555</th>
    </tr>
  </table></center>
  <hr />
  <p><span style ="color: #000000;"> © Polar Coffee 2020. All rights reserved.</span></p>
  </body>
  </html>
