<!DOCTYPE html>
<html>
  <style>
    body {
       background-image: url('coffee.jpg');
       background-repeat: no-repeat;
       background-size: cover;
       background-attachment: fixed;
    }
    </style>

<body>
<img src="/polar-coffee-logo-white-400px_tag.png" alt="Polar Coffee" title="Polar Coffee" width="200px" padding: 30px;>
<link rel="stylesheet" type="text/css" href="css/sign_up.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">  
<script>
var img = new Image();
img.src = 'polar-coffee-logo-white-400px_tag.png';
img.onclick = function() {
    window.location.href = 'http://64.225.127.211';
};
  </script>

<script>
  function portal() {
    window.location.href ="http://64.225.127.211";
  }

</script>

<body>
  <form action="/new_users" method="POST">
    <div class="container">
      <h1 align='center'>Polar Coffee</h1 al>
      <p>Sign up to Polar Coffee's newsletter!</p>
      <hr>
      <label for="UserName"><b>Username</b></label>
      <br />
      <input type="text" placeholder="Enter Username" name="Username" id = "Username" required>
      <br />
      <label for="Password"><b>Email</b></label>
      <br />
      <input type="text" placeholder="Enter Email" name="Password" id = "Password" required>
      </hr>

      <div class="w3-container">
        <p align='center'> <button class="w3-button w3-round-xxlarge w3-black" type = "submit">Sign up</button></p>
        <p align='center'> <button class="w3-button w3-round-xxlarge w3-gray" onclick= "portal()">No thanks</button></p>  
      </div>
    </div>
  </form>
</body>
  </table></center>
  <hr>
  <center><table style="width:90%; text-align: center; background-color: none; color: #ffffff; padding:15px;">
    <tr>
      <th><img src="/polar-coffee-logo-square-300px.png" alt="Polar Coffee" title="Polar Coffee" width="200px";></th>
    </tr>
    <tr>
      <td><em>How you want it, when you want it.</em></td>
    </tr>
    <th>Polar Coffee, Ltd.<br />
      123 Main Street<br />
      Anytown, CA 92336<br />
      Tel (909) 555-5555</th>
    </tr>
  </table></center>
  <hr />
  <p><span style ="color: #ffffff;"> © Polar Coffee 2020. All rights reserved.</span></p>
  </body>
  </html>
